.grid {
  border: 1px black solid;
  border-radius: 5px;
  height: 300px;
  margin: 50px 400px;
  position: absolute;
  width: 560px;
}
.block {
  background-color: rgb(206, 109, 77);
  height: 20px;
  position: absolute;
  width: 100px;
}

.user {
  background-color: rgb(147, 246, 117);
  height: 20px;
  position: absolute;
  width: 100px;
}

.ball {
  background-color: deeppink;
  border-radius: 10px;
  height: 20px;
  position: absolute;
  width: 20px;
}

#score {
  text-align: center;
}

body {
  background-color: aliceblue;
}
button {
  background-color: antiquewhite;
  border-radius: 7px;
  font-size: 25px;
  padding: 10px 20px;
}

.container {
  text-align: center;
}
p {
  padding: 0px 250px;
}
