.grid {
  border: 1px black solid;
  height: 300px;
  position: absolute;
  width: 560px;
}
.block {
  background-color: darksalmon;
  height: 20px;
  position: absolute;
  width: 100px;
}

.user {
  background-color: rgb(148, 246, 117);
  height: 20px;
  position: absolute;
  width: 100px;
}

.ball {
  background-color: deeppink;
  border-radius: 10px;
  height: 20px;
  position: absolute;
  width: 20px;
}
